@import url('https://fonts.googleapis.com/css?family=Petrona|Playfair+Display:500,700,900|Rasa:300,400&display=swap');

body { 
    font-family: 'Rasa', serif;
	margin: 0;	
    width: 100%;
    font-size: 14px;
    margin: auto;
    padding-bottom: 150px;
    background-color: white;
    overflow-x: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 18rem);
    padding: 10px;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    grid-gap: 20px;
}

.grid-item {
    padding: 10px;
    height: 130px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}

.grid-item-meta {
    font-family: 'Petrona', serif;
    font-size: 12px;
    text-align: left;
    font-weight: 400;
}

.grid-item-title {
    font-family: 'Petrona', serif;
    font-size: 21px;
    text-align: left;
    font-weight: 900;
}

.sub {
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

.grid-item-lead {
    margin-top: 10px;
    font-size: 17px;
    text-align: left;
}

.grid-item-link {
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
}

h1 {
    font-size: 50px;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 300;
    line-height: 1.5;
}
.sub-header {
    
}
.section-header {

}

a {
    text-decoration: none;
    padding-bottom: 3px
    /*color:#393D3F;*/
    cursor: pointer;
}

a:hover {
    /*text-decoration: none;*/
}

a:link {
}

a:visited {
}

a:active {
    /*color:#393D3F;*/
}

.hili {
    padding-left: 3px;
    padding-right: 3px;
    padding: 2px;
    border-radius:3px;
    box-sizing: content-box;
    line-height: 1.75;
    word-wrap: break-word;
    color: #574d68;
}

.hili-big {
    font-size: 30px;
    line-height: 2;
}

.hili-yellow {
    background-color: #FFED65;
}

.hili-green {
    background-color: #BCE784;
}

.hili-green {
    background-color: #7dce82;
}

.hili-flame {
    background-color: #ec4e20;
}

.hili-coral {
    background-color: #ff8360;
}

.hili-bubble-gum {
    background-color: #f8c7cc;
}

.hili-lavender-gray {
    background-color: #b8b8d1;
}

.hili-platinum {
    background-color: #e9e7e3;
}

.hili-light {
    background-color: #fdfcfc;
}

.hili-purple {
    background-color: #B4ADEA
}

.under-purple {
    font-style: italic;
    border-bottom: 3px solid #B4ADEA;
}

.under-#48b2dd {
    font-style: italic;
    border-bottom: 3px solid #CAE9FF;
}

.extra {
    font-style: italic;
}

.boom {
    margin-bottom: 55px;
}

#postal {
    display: none;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #BCE784;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(148, 182, 104);
}

.large-footer {
    width: 100%;
    background-color: #5d5370;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.backing {
    position: absolute;
    z-index: -1;
}

.eighty {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

p {
    font-size: 25px;
    margin-top: 75px;
    margin-bottom: 50px;
    padding-left: 10px;
}

#circle {
  width: 70px;
  height: 70px;
  background: #dc4921;
  border-radius: 50%;
  float: left;
}


#abc {
    font-size: 80px;
}

#bio {

}

.grid-color {
    background-color: #ffc937;
    box-shadow: 10px 10px #48b2dd;
}

.grid-item-link-color {
    width: 70%;
    padding:10px;
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
    background-color: #ffc937;
}

.grid-item-link-gray {
    width: 70%;
    padding:10px;
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
    background-color: #e6dcc4;
}

.grid-item-link-half {
    width: 30%;
    margin-right: 5px;
}

.grid-item-outline {
    border: 1px solid black;
    border-style: none solid solid none;
}

.grid-item-outline-corner {
    border: 1px black;
    border-style: solid none none solid 
}

.grid-item-bottom-dots {
    border: 5px black;
    border-style: none dotted none none;
}

.grid-item-bottom-double {
    border: 8px black;
    border-style: none none none double;
}

.grid-item-outline-double {
    border: 5px black;
    border-style: none none none double; 
}

.grid-item-outline-dash {
    border: 10px black;
    border-style: none none dashed none; 
}


#card-left {
  width: 18em;
  height: 120px;
  background: #ffc937;
  transform: rotate(5deg) translateX(-20px);
}

#card-right {
  width: 18em;
  height: 120px;
  background: #ffc937;
  transform: rotate(-5deg) translateX(-20px);
}

.circle-rack {
    width: 100%;
}

.hiding {
    opacity: .07;
}

.hiding-more {
    opacity: .03;
}

.hiding-even-more {
    opacity: .01;
}


.grid-item-fade-up {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 21%, rgba(231,231,231,1) 100%);
}

.grid-item-left-shadow {
    border: 10px solid #dc4921;
    /*box-shadow: -10px 0 #dc4921;*/
}

.grid-item-right-shadow {
    border: 10px solid #48b2dd;
}

.bottom-block {
    box-shadow: 0 10px #dc4921;
}

.bottom-gray {
    box-shadow: 0 10px #e6dcc4;
}

.bottom-block-thin {
    border: 1px black;
    border-style: none none solid none; 
}

.bottom-block-thin:hover {
    border-style: solid solid solid solid; 
}

.green {
    box-shadow: 0 30px #1fd171;
    
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

