/*@font-face {
    font-family: Montserrat;
    src: url('Montserrat-Regular.ttf');
}*/

@import url(http://fonts.googleapis.com/css?family=Raleway:800);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic);

body { 
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #d8fcef;
}

#main {
	position: absolute;
	padding-bottom: 4%;
}

a {
	color: rgb(227, 46, 116);
}

#name {
	font-size: 7vw;
	color: white;
	padding-left: 5vw;
	padding-top: 3vw;
	
	-moz-animation-name: showName;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-duration: 1.5s;

    -webkit-animation-name: showName;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 1.5s;

    animation-name: showName;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1.5s;
}

#name_highlight {
		background-color: transparent;
}

#name::selection {
  background: #dbfa3e;
  color: white;
}
#name::-moz-selection {
  background: #dbfa3e; 
  color: white;
}

#word {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
	font-size: 5vw;
	color: gray;
	padding-left: 5vw;
	
	-moz-animation-name: showWord;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-duration: 1.5s;

    -webkit-animation-name: showWord;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 1.5s;

    animation-name: showWord;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1.5s;
    
    -webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
}

#word:hover {
	color: rgb(227, 46, 116) !important;
}

#word::selection {
  background: #dbfa3e;
  color: white;
}
#word::-moz-selection {
  background: #dbfa3e; 
  color: white;
}

#word.selected {
  -webkit-transform: translateX(15px);
  -moz-transform: translateX(15px);
  -ms-transform: translateX(15px);
  -o-transform: translateX(15px);
  transform: translateX(15px);
}

#word a {
        color: gray;
        text-decoration: none;
}

#word a:hover {
        color: rgb(227, 46, 116);
}

#secret {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.95);
	width: 30vw;
	margin-left: 61vw;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 5vw;
	float: right;
        height: 100%;
	bottom: 0;
	font-size: 1.75vw;
	visibility: hidden;
	opacity: 0;
        overflow: scroll;
	
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 1.3vw;
	
	-webkit-transition-duration: .75s;
	-moz-transition-duration: .75s;
	-o-transition-duration: .75s;
	transition-duration: .75s;
}

#secret.selected {
	opacity: 1;
   -webkit-transform: translateX(-15px);
   -moz-transform: translateX(-15px);
   -ms-transform: translateX(-15px);
   -o-transform: translateX(-15px);
   transform: translateX(-15px);
}

#twitter, #quora, #github, #contact, #teamwork, #yankees, #projects, #tools {
        padding-top: 5vh;
	display: none;
}

@-moz-keyframes showWord {
    0% {
        -moz-transform: translateX(-15px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}
@-webkit-keyframes showWord {
    0% {
        -webkit-transform: translateX(-15px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@keyframes showWord {
    0% {
        transform: translateX(-15px);
    }
    100% {
        transform: translateX(0);
    }
}

@-moz-keyframes showName {
    0% {
        -moz-transform: translateY(-15px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes showName {
    0% {
        -webkit-transform: translateY(-15px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes showName {
    0% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}