@import url('https://fonts.googleapis.com/css?family=Gotu|Open+Sans:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:700|Goudy+Bookletter+1911&display=swap');

body { 
    font-family: 'Open Sans', sans-serif;
	margin: 0;	
    width: 100%;
    font-size: 14px;
    margin: auto;
    padding: 0;
    background-color: white;
}

.body-border {
    border: 20px solid black;
}

.row {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.row-item {
    height: 100px;
    width: 200px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
}

.row-item.experience {
    background-color: inherit;
    border: 2px solid black;
    padding: 10px;
}

.company {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.time {
    margin-left: 5px;
}

.position {
    font-style: italic;
}

.center {
    text-align: center;
}

.note {
    font-family: 'Open Sans', sans-serif;
    background-color: inherit;
/*    border: 1px solid black;
*/    padding: 10px;
    font-weight: 700;
}


.stanley {
    background-color: black;
    font-size: 200px;
    color: white;
    height: 900;
    width: 75;
    font-family: "Blackberry";
}

.illustration {
    width: 100%;
    height: 100px;
    background-color: blue;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: '+';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.nav {
    margin-top: 40px;
    margin-bottom: 40px;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  text-align: center;
  font-weight: 700;
}

li {
  display: inline;
  padding: 10px;
  margin-left: auto;
  margin-right: auto

}

a {
    text-decoration: none;
    padding-bottom: 3px
    /*color:#393D3F;*/
    cursor: pointer;
}

a:hover {
    /*text-decoration: underline;*/
}

a:link {
}

a:visited {
}

a:active {
    /*color:#393D3F;*/
}

p.drop-cap:first-letter {
    font-size: 2em;
    font-weight: 900;
    float: left;
    margin-top: .07em;
    margin-right: .1em;
}

.text-column {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.text-column p {
    font-size: 18px;
    margin-top: 75px;
    margin-bottom: 50px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.gotu {
    font-family: 'Gotu', sans-serif;
}

.lato { 
    font-family: 'Lato', sans-serif;
}

.opensans { 
    font-family: 'Open Sans', sans-serif;
}

.roboto { 
    font-family: 'Roboto', sans-serif;
}

.corm {
    font-family: 'Cormorant Garamond', serif;
}




/*
-
-
-
-
-
-
*/



.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 18rem);
    padding: 10px;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    grid-gap: 20px;
}

.grid-item {
    padding: 10px;
    height: 130px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}

.grid-item-meta {
    font-family: 'Petrona', serif;
    font-size: 12px;
    text-align: left;
    font-weight: 400;
}

.grid-item-title {
    font-family: 'Petrona', serif;
    font-size: 21px;
    text-align: left;
    font-weight: 900;
}

.sub {
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

.grid-item-lead {
    margin-top: 10px;
    font-size: 17px;
    text-align: left;
}

.grid-item-link {
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
}

h1 {
    font-size: 50px;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 300;
    line-height: 1.5;
}
.sub-header {
    
}
.section-header {

}



.hili {
    padding-left: 3px;
    padding-right: 3px;
    padding: 2px;
    border-radius:3px;
    box-sizing: content-box;
    line-height: 1.75;
    word-wrap: break-word;
    color: #574d68;
}

.hili-big {
    font-size: 30px;
    line-height: 2;
}

.hili-yellow {
    background-color: #FFED65;
}

.hili-green {
    background-color: #BCE784;
}

.hili-green {
    background-color: #7dce82;
}

.hili-flame {
    background-color: #ec4e20;
}

.hili-coral {
    background-color: #ff8360;
}

.hili-bubble-gum {
    background-color: #f8c7cc;
}

.hili-lavender-gray {
    background-color: #b8b8d1;
}

.hili-platinum {
    background-color: #e9e7e3;
}

.hili-light {
    background-color: #fdfcfc;
}

.hili-purple {
    background-color: #B4ADEA
}

.under-purple {
    font-style: italic;
    border-bottom: 3px solid #B4ADEA;
}

.under-#48b2dd {
    font-style: italic;
    border-bottom: 3px solid #CAE9FF;
}

.extra {
    font-style: italic;
}

.boom {
    margin-bottom: 55px;
}

#postal {
    display: none;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #BCE784;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(148, 182, 104);
}

.large-footer {
    width: 100%;
    background-color: #5d5370;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.backing {
    position: absolute;
    z-index: -1;
}

.eighty {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



#circle {
  width: 70px;
  height: 70px;
  background: #dc4921;
  border-radius: 50%;
  float: left;
}


#abc {
    font-size: 80px;
}

#bio {

}

.grid-color {
    background-color: #ffc937;
    box-shadow: 10px 10px #48b2dd;
}

.grid-item-link-color {
    width: 70%;
    padding:10px;
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
    background-color: #ffc937;
}

.grid-item-link-gray {
    width: 70%;
    padding:10px;
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
    background-color: #e6dcc4;
}

.grid-item-link-half {
    width: 30%;
    margin-right: 5px;
}

.grid-item-outline {
    border: 1px solid black;
    border-style: none solid solid none;
}

.grid-item-outline-corner {
    border: 1px black;
    border-style: solid none none solid 
}

.grid-item-bottom-dots {
    border: 5px black;
    border-style: none dotted none none;
}

.grid-item-bottom-double {
    border: 8px black;
    border-style: none none none double;
}

.grid-item-outline-double {
    border: 5px black;
    border-style: none none none double; 
}

.grid-item-outline-dash {
    border: 10px black;
    border-style: none none dashed none; 
}


#card-left {
  width: 18em;
  height: 120px;
  background: #ffc937;
  transform: rotate(5deg) translateX(-20px);
}

#card-right {
  width: 18em;
  height: 120px;
  background: #ffc937;
  transform: rotate(-5deg) translateX(-20px);
}

.circle-rack {
    width: 100%;
}

.hiding {
    opacity: .07;
}

.hiding-more {
    opacity: .03;
}

.hiding-even-more {
    opacity: .01;
}


.grid-item-fade-up {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 21%, rgba(231,231,231,1) 100%);
}

.grid-item-left-shadow {
    border: 10px solid #dc4921;
    /*box-shadow: -10px 0 #dc4921;*/
}

.grid-item-right-shadow {
    border: 10px solid #48b2dd;
}

.bottom-block {
    box-shadow: 0 10px #dc4921;
}

.bottom-gray {
    box-shadow: 0 10px #e6dcc4;
}

.bottom-block-thin {
    border: 1px black;
    border-style: none none solid none; 
}

.bottom-block-thin:hover {
    border-style: solid solid solid solid; 
}

.green {
    box-shadow: 0 30px #1fd171;
    
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}




/**/



.container {
  margin-bottom: 50px;
}

.content-default {
  padding: 5px 10px;
}

/********** SQUARE ***********/
.square-deco-container {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 
    [outer-start]  5px 
    [mid-start]    5px
    [inner-start]  2px
    [gap-start]    1fr
    [gap-end]      2px
    [inner-end]    5px
    [mid-end]      5px 
    [outer-end] 
  ;
  grid-template-rows: 
    [outer-start]  5px 
    [mid-start]    5px 
    [inner-start]  2px
    [gap-start]    1fr
    [gap-end]      2px
    [inner-end]    5px
    [mid-end]      5px 
    [outer-end] 
  ;
}

.square-deco-container .square-deco-content {
  grid-area: inner;
  padding: 5px 15px;
}

.square-deco-container .square-deco-inner {
  grid-area: mid;
  border: 1px solid black;
}

.square-deco-container .square-deco-square-left-top {
  grid-column: outer-start / inner-start;
  grid-row: outer-start / inner-start;
  border: 1px solid black;
}

.square-deco-container .square-deco-square-left-bottom {
  grid-column: outer-start / inner-start;
  grid-row: inner-end / outer-end;
  border: 1px solid black;
}

.square-deco-container .square-deco-square-right-top {
  grid-column: inner-end / outer-end;
  grid-row: outer-start / inner-start;
  border: 1px solid black;
}

.square-deco-container .square-deco-square-right-bottom {
  grid-column: inner-end / outer-end;
  grid-row: inner-end / outer-end;
  border: 1px solid black;
}

.square-deco-container .square-deco-tall {
  grid-column: gap-start / gap-end;
  grid-row: outer-start / outer-end;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.square-deco-container .square-deco-wide {
  grid-column: outer-start / outer-end;
  grid-row: gap-start / gap-end;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

/********** DIAMOND ***********/
.diamond-deco-container {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 
    [outer-start]  5px 
    [mid-start]    5px
    [inner-start]  3px
    [gap-start]    1fr
    [gap-end]      3px
    [inner-end]    5px
    [mid-end]      5px 
    [outer-end] 
  ;
  grid-template-rows: 
    [outer-start]  5px 
    [mid-start]    5px 
    [inner-start]  3px
    [gap-start]    1fr
    [gap-end]      3px
    [inner-end]    5px
    [mid-end]      5px 
    [outer-end] 
  ;
}

.diamond-deco-container .diamond-deco-content {
  grid-area: inner;
  padding: 5px 10px;
}

.diamond-deco-container .diamond-deco-square-left-top {
  grid-column: outer-start / inner-start;
  grid-row: outer-start / inner-start;
  transform: rotate(45deg);
  border: 1px solid black;
}

.diamond-deco-container .diamond-deco-square-left-bottom {
  grid-column: outer-start / inner-start;
  grid-row: inner-end / outer-end;
  transform: rotate(45deg);
  border: 1px solid black;
}

.diamond-deco-container .diamond-deco-square-right-top {
  grid-column: inner-end / outer-end;
  grid-row: outer-start / inner-start;
  transform: rotate(45deg);
  border: 1px solid black;
}

.diamond-deco-container .diamond-deco-square-right-bottom {
  grid-column: inner-end / outer-end;
  grid-row: inner-end / outer-end;
  transform: rotate(45deg);
  border: 1px solid black;
}

.diamond-deco-container .diamond-deco-tall-outer {
  grid-column: gap-start / gap-end;
  grid-row: outer-start / outer-end;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.diamond-deco-container .diamond-deco-tall-inner {
  grid-column: gap-start / gap-end;
  grid-row: inner-start / inner-end;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.diamond-deco-container .diamond-deco-wide-outer {
  grid-column: outer-start / outer-end;
  grid-row: gap-start / gap-end;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.diamond-deco-container .diamond-deco-wide-inner {
  grid-column: inner-start / inner-end;
  grid-row: gap-start / gap-end;
  border-left: 1px solid black;
  border-right: 1px solid black;
}


